---
layout: default
---

<div id="header">
  <h1>{{ page.title }}</h1>
  <h2>{{ page.tagline }}</h2>
</div>

<div id="share" style="margin-left: 30px">
  <iframe src="http://ghbtns.com/github-btn.html?user=loopj&repo=jquery-simple-slider&type=fork&count=true"
    allowtransparency="true" frameborder="0" scrolling="0" width="95px" height="20px"></iframe>

  <a href="https://twitter.com/share" class="twitter-share-button" data-via="loopj">Tweet</a>
</div>

<div id="project">
  {% if page.download_url %}
  <div id="download">
    <div class="download-button">
      <a href="{{ page.download_url }}">
        Download
        {% if page.version %}
        <em>version {{ page.version }} (latest)</em>
        {% else %}
        <em>latest version</em>
        {% endif %}
      </a>
    </div>

    {% if page.github_url %}
    <p id="github">or <a href="{{ page.github_url }}" target="_blank">fork me on github</a></p>
    {% endif %}
  </div>
  {% endif %}

  {{ content }}

  {% include about_me.html %}
</div>